.apropos{
    margin-bottom: 149px;

    &__container{
        display: grid;
            grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px ;
        border-radius: 15px;
        border: 2px solid $--blackBg; 
        background: #FAFAFA;
        @media screen and (min-width:1650px) {
            gap: 50px;
        padding: 0 60px 0 60px;
        grid-template-columns: .87fr 1fr;
        }
        @media screen and (max-width:1023px) {
            grid-template-columns: 1fr;

        }
        &-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            h2{
                font-weight: 700;
                font-size: 44px;
                @media screen and (max-width:767px) {
                    font-size: 28px;
                }
                @media screen and (max-width:367px) {
                    font-size: 22px;
                }
                @media screen and (min-width:1428px) {
                    font-size: 50px;
                }
            }

            & p:nth-last-of-type(1){
                margin-bottom: 20px;
            }
            & svg {
                max-width: 100%;
            }

        }
        img{
            margin-bottom: -57px;
            max-width: 690px;
            width: 100%;
            @media screen and (min-width:1650px) {
                margin-bottom: -27px;
            }
            @media screen and (max-width:1023px) {
                max-width: 100%;
                margin-bottom: 0;
            }
        }
    }

}