.faq{
    margin-bottom: 20px;
    &__container{
        display: grid;
        grid-template-columns: .475fr 1fr;
        gap: 20px;

        &-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 15px;
            color: $--white;
            border: 1px solid #FAFAFA;
            padding: 40px;
            background: #121212;
            & h2{
                color: $--white;
            }
        }
        &-accord {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            gap: 10px;
            .services-page & {
              margin-bottom: 0;
            }
            &-item {
                border-radius: 10px;
                border: 1px solid #262626;
                background: #FAFAFA;
                max-width: 100%;
                width: 100%;
                
                padding: 40px;
    
                @media screen and (max-width:767px) {
                  padding: 20px;
                }
                @media screen and (max-width:360px) {
                  padding: 10px;
                }
                
                &-top {
                    max-width: 100%;
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    @media screen and (max-width:767px) {
                      gap: 20px;
                    }
                    @media screen and (max-width:367px) {
                      gap: 20px;
                      word-wrap: break-word;
                        overflow-wrap: break-word;
                        white-space: normal; 
                        white-space: pre-wrap;
                    }
                    & p{
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                        white-space: normal; 
                        white-space: pre-wrap;
                        @media screen and (max-width:367px) {
                          overflow-wrap: anywhere;
                        }
                    }
                  }
                &-content {
                    display: none;
                    padding: 40px 40px 0px 40px;
                    
                    @media screen and (max-width:767px) {
                      padding: 20px 0;
                    }
                    @media screen and (max-width:367px) {
                      padding: 10px 0;
                    }
                  }
                 
              }
              .faq__container-accord-item:hover,
              .faq__container-accord-item.active {
                
                transition: .3s ease;
              }
              .faq__container-accord-item.active .faq__container-accord-item-content {
                display: block;
              }
              .faq__container-accord-item:hover .faq__container-accord-item-top div,
              .faq__container-accord-item.active  .faq__container-accord-item-top div {
                background-color: $--redBtn;
                transition: .3s ease;
                border-color: transparent;
              }
             
              .faq__container-accord-item:hover .faq__container-accord-item-top svg path,
                .faq__container-accord-item.active  .faq__container-accord-item-top svg path  {
                stroke: $--white;
                transition: .3s ease;
              }
    
    
          }
    }
}