.faq{
    margin-bottom: 20px;
    &__container{
        display: grid;
        grid-template-columns: .475fr 1fr;
        gap: 20px;

        @media screen and (max-width:1023px) {
            grid-template-columns: 1fr;
        }
        &-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 15px;
            color: $--white;
            border: 1px solid #FAFAFA;
            padding: 40px;
            background: #121212;

            @media screen and (max-width:767px) {
              padding: 20px;
            }
            & h2{
                color: $--white;
            }
        }
        &-accord {
            display: flex;
            flex-direction: column;
            
            gap: 10px;
            .services-page & {
              margin-bottom: 0;
            }
            &-item {
                border-radius: 10px;
                border: 1px solid #262626;
                background: #FAFAFA;
                max-width: 100%;
                width: 100%;
                padding: 38px;
                cursor: pointer;
    
                @media screen and (max-width:767px) {
                  padding: 20px;
                }
                @media screen and (max-width:360px) {
                  padding: 10px;
                }
                
                &-top {
                    max-width: 100%;
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    justify-content: space-between;
                    transition: all .3s ease;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    
                    @media screen and (max-width:767px) {
                      gap: 20px;
                    }
                    @media screen and (max-width:367px) {
                      gap: 20px;
                      word-wrap: break-word;
                        overflow-wrap: break-word;
                        white-space: normal; 
                        white-space: pre-wrap;
                    }
                    & p{
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                        white-space: normal; 
                        white-space: pre-wrap;
                        @media screen and (max-width:367px) {
                          overflow-wrap: anywhere;
                        }
                    }
                    & svg {
                      transition: all .3s ease;
                    }
                  }
                &-content {
                    padding: 20px 20px 0px 0px;
                    max-height: 0;
                    padding-top: 0;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease;
                    
                  }
                 
              }
              .faq__container-accord-item.active .faq__container-accord-item-content {
                color: $--white;
                max-height: fit-content;
                opacity: 1;
                visibility: visible;
                padding-top: 20px;
                @media screen and (max-width:767px) {
                  padding: 20px 0;
                }
                @media screen and (max-width:367px) {
                  padding: 10px 0;
                }
              }
              .faq__container-accord-item:hover,
              .faq__container-accord-item.active {
                background-color: $--redBtn;
                transition: .3s ease;
                border-color: transparent;
                
              }
             
              .faq__container-accord-item:hover .faq__container-accord-item-top,
                .faq__container-accord-item.active .faq__container-accord-item-top {
                 
               color: $--white;
              }
              .faq__container-accord-item:hover .faq__container-accord-item-top svg rect,
                .faq__container-accord-item.active .faq__container-accord-item-top svg rect  {
                stroke: $--redBtn;   
              }
             
                .faq__container-accord-item.active .faq__container-accord-item-top svg   {
                  transform: rotate(45deg);   
              }
              .faq__container-accord-item:hover .faq__container-accord-item-top svg line,
                .faq__container-accord-item.active .faq__container-accord-item-top svg line  {
                stroke: $--redBtn;
              }
    
          }
    }
}