.footer {
    background-color: #121212;
    padding: 80px 0 30px;
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 80px;
        align-items: center;
        border-bottom: 1px solid #fff;
        @media screen and (max-width: 1023px) {
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        & ul {
            display: flex;
            align-items: center;
            gap: 80px;
            padding: 0;
            margin: 0;
            @media screen and (max-width: 1440px) {
                gap: 40px;
            }
            @media screen and (max-width: 1023px) {
                gap: 25px;
            }
            @media screen and (max-width: 650px) {
                flex-direction: column;
            }
            & a {
                color: #fff;
                font-size: 18px;
                &:hover{
                    color: $--redBtn;
                }
            }
        }   
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 17px;
        @media screen and (max-width: 320px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        & a{
            transition: all .5s ease;
            &:hover{
                & svg rect{
                    fill: $--redBtn;
                }
               & svg path{
                    fill: $--white;
                }
            }
            & svg {
                width: 52px;
                height: 52px;
                transition: all .5s ease;
            }
        }
        
    }
    &__copyright {
        font-size: 14px;
        color: #fff;
        display: block;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }
}