.main{
    background: $--blackBg;
    padding: 84px 0 157px;
    border-radius: 0 0 50px 50px;
    color: $--white;
    position: relative;
    &__container{
        max-width: 1619px;
        padding: 0 10px;
       margin: 0 auto;
       position: relative;
       
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            max-width: 715px;
            width: 100%;
            @media screen and (max-width:1380px) {
                max-width: 625px;
                
            }
            @media screen and (max-width:1023px) {
                max-width: 100%;
                
            }
            
            & h1{
                @media screen and (max-width:1380px) {
                   font-size: 45px;
                }
                @media screen and (max-width:1080px) {
                   font-size: 40px;
                }
                @media screen and (max-width:367px) {
                   font-size: 26px;
                }
            }
            & svg{
                max-width: 237px;
                max-height: 53px;

                @media screen and (max-width:367px) {
                    max-width: 100%;
                }
            }
            p{
                max-width: 667px;
                margin-bottom: 20px;
                @media screen and (max-width:1080px) {
                    max-width: 525px;
                 }
                @media screen and (max-width:1023px) {
                    max-width: 100%;
                    width: 100%;
                 }
            }
            & div{
                color: $--white;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                & span{
                    color: $--redBtn;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            & .btn{
                margin-bottom: 40px;
                max-width: 380px;
            }
        }
        &-image{
            position: absolute;
            right: 0;
            top: -35px;
            width: 60%;
            @media screen and (max-width:1380px) {
                top: 40px;
                width: 60%;  
                height: 520px;
            }
            @media screen and (max-width:1080px) {
                top: -11px;
            }
            @media screen and (max-width:1023px) {
                display: none;
            }
            @media screen and (min-width:1527px) { 
                top: 30px;
            }
           
            
        }
    }
    
}