
$--white: #fff;
$--redBtn: #E73A2E;
$--black: #000;
$--blackBg: #121212;




@mixin accordTitle{
                    margin-right: auto;
                    font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-size: 32px;
                @media screen and (max-width:767px) {
                  font-size: 24px;
                }
                @media screen and (max-width:480px) {
                  font-size: 16px;
                }
}
html{
    scroll-behavior: smooth;
  }

body{
    font-size: 14px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main{
    margin-top: 80px;
}

  .container{
      max-width: 1780px;
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
  }
h1{
    color: $--white;
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.714%; /* 70.857px */
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 32px;
    }
}
h2{
    color: $--black;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 28px;
    }
}
h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media screen and (max-width:767px) {
        font-size: 24px;
    }
}

h1 span,
h2 span,
h3 span{
    font: inherit;
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.p-m{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13.5px 18.5px;
    width: 100%;
    color: #F9FCFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: $--redBtn;
    max-width: 380px;
    border: 1px solid transparent;
    transition: .3s ease;
    border-radius: 50px;
    
}
.btn:hover{
    background-color: transparent;
    border-color: $--redBtn;
    color: $--redBtn;
}

.logo{
    margin-right: auto;
    
}


.mt-s{
    margin-top: 80px;
    @media screen and (max-width:767px) {
        margin-top: 40px;
    }
    @media screen and (max-width:367px) {
        margin-top: 20px;
    }
}
.mt-m{
    margin-top: 120px;

    @media screen and (max-width:767px) {
        margin-top: 60px;
    }
    @media screen and (max-width:367px) {
        margin-top: 30px;
    }
}
.mb-m{
    margin-bottom: 120px;
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width:367px) {
        margin-bottom: 30px;
    }
}

.social{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}