@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
}

/*import */
@import './reset.scss';
@import './root.scss';
@import './header.scss';
@import './main-section.scss';
@import './avatnages.scss';
@import './apropos.scss';
@import './services.scss';
@import './commercial.scss';
@import './faq-section.scss';
@import './contact.scss';
@import './footer.scss';